a,a:visited
{
  text-decoration: none
  color: white;
}

h1,h2,h3,h4,h5,h6
{
  font-family: "PT Sans", Helvetica, sans-serif
  text-transform: uppercase
  font-weight: 700
}

ul
{
  padding-left: 0 !important; //override default vuetify
}
li
{
  list-style-type: none;
  font-family: "PT Sans", Helvetica, sans-serif;
}


.v-jumbotron__image
  max-width: 100% !important
  min-width: none !important
